/*ABOUT US SECTION PAGE SUGGEST CSS START */
#page-suggest{
    margin-top: 20px;
    background-color: orange;
}
.suggest{
    text-align: center;
    margin: 40px 0;
}
.suggest a,span{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
.suggest a:hover{
    color: darkgray;
    transition: 0.5s;
}
.suggest span{
    padding-left: 5px;
}

/*ABOUT US SECTION PAGE SUGGEST CSS END */

/* ------------------------------------------------------------------------------------------------------------ */

/* ABOUT IMAGE SECTION CSS START */

#about-us-intro{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 50px 0px 0px 0px;
}
.about-heading h3,h6{
    font-weight: bolder;
}
.watch ,.bag ,.glasses{
    margin: 20px 0;
    cursor: pointer;
    background-color: orange;
}
.image-description{
    position: absolute;
    top: 20%;
    left: 3%;
}
.image-description h2{
    font-weight: bolder;
    font-family: fantasy;
}
.image-description span{
    color: brown;
    font-weight: bolder;
    font-family: cursive;
}
.image-description i{
    border: 2px solid brown;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    color: brown;
}

/* ABOUT IMAGE SECTION CSS START */


/* -------------------------------------------------------------------------------------------------------------------- */

/* ABOUT OUR MISSION SECTION CSS START */

#mission{
    width: 100%;
    height: 100%;
    margin: 50px auto;
    text-align: center;
    background: rgba(255,25,255,0.03);
}
.our-vision h2,span{
    padding: 20px 0;
}
.our-vision h2{
    font-weight: bolder;
    text-align: center;
}
.our-vision span{
    line-height: 30px;
}


/* ABOUT OUR MISSION SECTION CSS END */

/* ----------------------------------------------------------------------------------------------------------------------- */

/* TEAM MEMBER SECTION CSS START */

.team-members h1{
    border-bottom: 1px solid black;
    font-weight: bolder;
}
.team-images1 , .team-images2 ,.team-images3{
    background-color: orange;
    cursor: pointer;
}
.team-images1 h4 ,.team-images2 h4 ,.team-images3 h4{
    font-weight: bolder;
    margin: 10px 0;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.team-images1 p ,.team-images2 p ,.team-images3 p{
    font-weight: bolder;
    font-size: 20px;
}
.team-social-links{
    position: relative;
    bottom: 150px;
    opacity: 0; 
    transition: 0.5s;
}
.team-social-links i{
    margin: 0px 5px 0px 5px;
    transition: 0.5s;
}
.team-images1:hover .team-social-links{
    opacity: 1;
    transform: translateY(-150px);
    transition: 0.5s;
}
.team-images1:hover img{
    opacity: 0;
    transition: 0.5s;
}

.team-images2:hover .team-social-links{
    opacity: 1;
    transform: translateY(-150px);
    transition: 0.5s;
}
.team-images2:hover img{
    opacity: 0;
    transition: 0.5s;
}

.team-images3:hover .team-social-links{
    opacity: 1;
    transform: translateY(-150px);
    transition: 0.5s;
}
.team-images3:hover img{
    opacity: 0;
    transition: 0.5s;
}





.team-social-links i:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.team-social-links .fa-facebook{
    background-color: steelblue;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: white;
}
.team-social-links .fa-twitter{
    background-color: skyblue;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: white;
}
.team-social-links .fa-instagram{
    background-color: brown;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: white;
}
/* TEAM MEMBER SECTION CSS END */

/* -------------------------------------------------------------------------------------------------------------------- */


